.container-cronometro {
    display: flex;
}

.container-cronometro .time, 
.container-cronometro .separator {
    font-size: 6em;
}

.container-cronometro #millisecond {
    font-size: 4em;
}

.container-btns {
    display: flex;
}

.btn {
    padding: 10px 20px;
}

#btnPause {
    display: none;
}